<li>
    <a href="{{dogear.current}}">{{dogear.linkText}}</a>
    <span class="current">({{dogear.current}})</span>
    <span class="date">Last read: {{dogear.updatedString}}</span>
    <button type="button" class="delete-dogear" data-dogear-id="{{dogear.id}}">Delete</button>
</li>
