<section id="tokens-fragment">
  {{> pagination
    pagination=pagination
    page="/account"
    fragment="/fragments/tokens"
    fragment_id="tokens-fragment"
  }}
  <ul id="tokens-list">
    {{#each tokens}}
      <li class="token" data-token-id="{{this.id}}">
        <span class="token-comment">{{this.comment}}</span>
        <span class="token-last-used">Last used: {{#if this.last_used}}{{this.last_used}}{{else}}never{{/if}}</span>
        <span class="token-created">Created: {{this.created}}</span>
        <span class="token-scope">{{this.scope}}</span>
        <button type="button" class="delete-button token-delete" data-token-id="{{this.id}}">Delete</button>
      </li>
    {{/each}}
  </ul>
  {{> pagination
    pagination=pagination
    page="/account"
    fragment="/fragments/tokens"
    fragment_id="tokens-fragment"
  }}
</section>
