<section class="dogears">
  <ul id="dogears">
    {{#each dogears}}
      <li>
        <a href="{{this.current}}">{{this.linkText}}</a>
        <span class="current">({{this.current}})</span>
        <span class="date">Last read: {{this.updatedString}}</span>
        <button type="button" class="delete-dogear" data-dogear-id="{{this.id}}">Delete</button>
      </li>
    {{/each}}
  </ul>
</section>

<h2>Manual mode</h2>

<p>This was mostly for debugging, but you can still use it.</p>

<h3>Dogear a page</h3>

<form id="update-dogear">
  <label for="current">URL:</label>
  <input name="current" type="text" maxlength="300" />
  <button type="submit" id="update-dogear">Mark my place</button>
</form>

